---
---

@import "minima";

$h_color:green;
$p_font_size:16px;
$bg_color_main: #CCCCCC;

body {
  font-family: Sans-serif;
  background-color: $bg_color_main;
  position: relative;
}

.header {
  width: 100%;
  background-color: rgba(46, 46, 46, 1);
  border-bottom: 3px solid #AAAAAA;
  min-width: 810px;
}

.title {
  margin-left: 20px;
  color: white;
  height: 40px;
  font-size: 32px;
  
  a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
  }
}

.subtitle {
  margin-left: 40px;
  color: white;
  height: 20px;
  font-size: 16px;
}

.header_fill {
  height: 20px;
}

.sidemenu {
  width: 200px;
  font-size: 14px;

  ul {
    list-style-type: none;
    margin: 0;
  }
  
  li {
    text-align: left;
    margin: 0;
  }
  
  a {
    display: block;
    padding: 2px 0px 2px 20px;
    margin: 0px 0px;
    text-decoration: none;
    color: black;
    transition: .5s;
    &:hover {
      background-color: #66CCCC;
      box-shadow: 0 0 20px #888888;
    }
  }

  .sm_sel {
    background-color: #9999CC;
    font-weight: bold;
  }
}

.catalog {
  margin-left: 100px;
  margin-top: 30px;
  font-size: 30px;
}

.paper_container {
  position: absolute;
  top: 50px;
  left: 210px;
  right: 100px;
}

.paper {
  background-color: white;
  box-shadow: 0 0 20px #888888;
  min-height: 800px;
  min-width: 600px;
}

.paper_bottom {
  position: relative;
  background-color: $bg_color_main;
  width: 100%;
  height: 20px;
  z-index: -1;
}

.position {
  background-color: white;
  border-bottom: 1px solid #AAAAAA;
  height: 30px;
  padding-left: 10px;
  color: #336666;
  line-height: 30px;
}

.content {
  padding: 10px 30px 50px 30px;
  word-wrap: break-word;
  word-break: normal;
  z-index: 100;

  pre {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgba(219, 229, 239, 1);
    word-wrap: normal;
    word-break: normal;
    overflow: auto;
  }
  
  h1, h2, h3, h5, h6 {
    color: $h_color;
    border-bottom: .1em solid #D3CCC1;
  }
  
  h4 {
    color: red;
    border-bottom: .1em solid #D3CCC1;
  }
  
  p {
    margin-left: 1em;
    font-size: $p_font_size;
    white-space: pre;
  }
  
  li {
    margin: 10px 0;
  }
  
  blockquote {
    margin-left: 20px;
    p {
      margin-left: 0;
    }
  }
  
  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 1em;
    
    th {
      padding: 0.5rem 1rem;
      border: 1px solid #3F3F3F;
      text-align: left;
      font-weight: bold;
      background-color: #3F3F3F;
      color: #fff;
    }
    
    td {
      padding: 0.5rem 1rem;
      border: 1px solid #aaa;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #F5F5F5;
    }
    tr:nth-child(odd) {
      background-color: #fff;
    }
  }
}



